*, *::before, *::after{
    box-sizing: border-box;
}


body{
    background-color:#B9BBB4;
    color:#000000;
    font-family: "Times New Roman", Times, serif;
    font-size:16px;
    line-height:1.6em;
    margin:0;

}

.container{
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 0;
    width:95%;
    margin:auto;
    overflow:hidden;
}

#main-header{
    background: #B15813;
    color:#fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

#navbar{
    background-color:#626237;
    color:#000;
    display: flex;
    list-style-type: none;
}

#navbar ul{
    display: flex;
    gap: 20px;
    margin:0;
    padding:0;
    list-style: none;
}

#navbar li{
    margin:0;
    padding:0;
    line-height: 1.2;
}

#navbar a{
    color:white;
    text-decoration: none;
font-size:18px;
}

#navbar a:hover{
    color:#B9BBB4
}

#showcase{
    background-image:url('../images/pacnw2.jpg');
    background-position:center right;
   min-height:400px;
    margin-bottom:30px;
    text-align: center;
}

#showcase h1{
    color:#000;
    font-size:50px;
    line-height: 1.6em;
    padding-top:30px;

}

#main-section{
    padding: 20px;
}


#about-section{
    border: 4px solid #626237;
    padding: 30px;
}



#contact-section{
    border: 4px solid #626237;
}



.interest-lists{
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-direction: row;
    gap: 15px;
    max-width: 1200px;
    margin: 0 auto;
}

.interest-lists ul{
    padding: 1;
    line-height: 1.8;
}


.collage img{
    width: 150px;
    border-radius: 8px;
}


